@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;

  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
}

.upperheader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
}

.logo {
  background-color: #1f2937;
  font-size: 24px;
  color: #f9faf8;
  margin-top: 15px;
}
ul {
  display: flex;
  background-color: #1f2937;
  list-style-type: none;
  gap: 28px;
  margin-top: 15px;
}
li {
  background-color: #1f2937;
  color: #acb1bb;
  font-size: 18px;
  font-weight: 200;
}
img {
  width: 300px;
  height: 200px;
}
#img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 30px;
}

.lowerheader {
  padding: 1px;
  display: flex;
  background-color: #1f2937;
  gap: 18px;
  height: 300px;
  justify-content: center;
}

.text {
  background-color: #1f2937;
  padding: 30px;
  min-width: 360px;
  max-width: 50%;
}

h3 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  background-color: #1f2937;
  line-height: 1;
}
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.p {
  color: #acb1bb;
  font-weight: 500;
  background-color: #1f2937;
}

.button {
  margin-top: 10px;
  background-color: #3882f6;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 50% 20% / 10% 40%;
  border-color: #3882f6;
}

.corp {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.fourcubes {
  text-align: center;
  background-color: aliceblue;
}

.cubes {
  display: flex;
  gap: 29px;
  justify-content: center;
  margin-bottom: 60px;
}
.cubeone,
.cubetwo,
.cubethree,
.cubefour {
  border: 3px solid rgb(66, 157, 246);
  border-radius: 15px;
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}
span {
  font-size: small;
  color: #acb1bb;
  font-weight: 500;
}
.containerone,
.containertwo,
.containerthree,
.containerfour {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.quote {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  margin-bottom: 60px;
  justify-content: center;
}

blockquote p {
  bottom: 50px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
figcaption {
  text-align: right;
  padding-right: 15%;
  padding-top: 20px;
  display: inline-block;
  bottom: 50px;
}
.quote,
blockquote p,
figcaption {
  background-color: #e5e7eb;
}

.call {
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #3882f6;
  justify-content: space-around;
  width: 70%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

h5 {
  color: rgb(249, 245, 245);
}

.pinblue {
  font-size: 15px;
  color: #e5e7eb;
  font-weight: 300;
}

#buttononblue {
  background-color: #3882f6;
  margin-top: 10px;
  color: white;

  width: 90px;
  height: 25px;
  border-radius: 15px;
  border-color: white;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  width: 100%;
  height: 50px;

  /* margin-top: 60px; */
}

.p2 {
  padding-top: 15px;
  font-size: small;
  color: #acb1bb;
  font-weight: 500;
}
